<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Service variant</th>
      <th>Status</th>
      <th>Host</th>
      <th>Gate host</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.id %></td>
        <td><%= link_to service.service_variant.name, service.service_variant %></td>
        <td><%= service.status %></td>
        <td><%= service.host %></td>
        <td><%= service.gate_host %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
      </tr>
    <% end %>
  </tbody>
</table>