
<%= link_to 'New', new_service_path, class: 'btn btn-primary mb-3'%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Count</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service|%>
      <tr>
        <th scope="row">
          <%= service.id %>
        </th>
        <td>
          <%= service.name %>
        </td>
        <td>
          <%= service.code %>
        </td>
        <td>
          <%= service.service_registrations.count%>
        </td>
        <td>
          <%= link_to 'Edit', edit_service_path(service)%>
          <%= link_to 'Show', service_path(service)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
