<%= form_with(model: service_registration, local: true) do |form| %>
  <% if service_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_registration.errors.count, "error") %> prohibited this service_registration from being saved:</h2>

      <ul>
      <% service_registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.text_field :service_id %>
  </div>

  <div class="field">
    <%= form.label :status_cd %>
    <%= form.number_field :status_cd %>
  </div>

  <div class="field">
    <%= form.label :host %>
    <%= form.text_field :host %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
