<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Service</th>
      <th>Status</th>
      <th>Host</th>
      <th>Gate host</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_registrations.each do |service_registration| %>
      <tr>
        <td><%= service_registration.id %></td>
        <td><%= link_to service_registration.service.name, service_registration.service %></td>
        <td><%= service_registration.status %></td>
        <td><%= service_registration.host %></td>
        <td><%= service_registration.gate_host %></td>
        <td><%= link_to 'Show', service_registration %></td>
        <td><%= link_to 'Edit', edit_service_registration_path(service_registration) %></td>
      </tr>
    <% end %>
  </tbody>
</table>