<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= link_to @service_registration.service.name, @service_registration.service %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service_registration.status %>
</p>

<p>
  <strong>Host:</strong>
  <%= @service_registration.host %>
</p>

<p>
  <strong>Gate host:</strong>
  <%= @service_registration.gate_host %>
</p>

<p>
  <strong>Token:</strong>
  <%= @service_registration.token %>
</p>
<%= link_to 'Edit', edit_service_registration_path(@service_registration), class: 'btn btn-info'  %>
