<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">Service Variant</a>
    <a class="nav-item nav-link" id="nav-services-tab" data-toggle="tab" href="#nav-services" role="tab" aria-controls="nav-services" aria-selected="false">Services</a>
  </div>
</nav>
<div class="tab-content pt-4" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
    <p>
      <strong>Name:</strong>
      <%= @service_variant.name %>
    </p>
    <p>
      <strong>Code:</strong>
      <%= @service_variant.code %>
    </p>

     <p>
      <strong>Token:</strong>
      <%= @service_variant.token %>
    </p>
    <%= link_to 'Edit', edit_service_variant_path(@service_variant), class: 'btn btn-info' %>
  </div>
  <div class="tab-pane fade" id="nav-services" role="tabpanel" aria-labelledby="nav-services-tab">
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Status</th>
      <th>Host</th>
      <th>Gate host</th>
      <th>Token</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_variant.services.each do |service| %>
      <tr>
        <td><%= service.id %></td>
        <td><%= service.status %></td>
        <td><%= service.host %></td>
        <td><%= service.gate_host %></td>
        <td><%= service.token %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>

<script>
$(document).ready(function() {
    $("#nav-tab").tabs();
});
</script>